@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&family=Source+Serif+Pro:wght@300;400;600;700;900&display=swap");

body {
  font-family: "Fira Sans", sans-serif;
  color: var(--color-grey-13);
  margin-bottom: 1000px;
}

img {
  max-width: 100%;
  display: block;
}

:root {
  --color-brand-1: #ff8a00;
  --color-brand-2: #ffa53b;
  --color-gradient: linear-gradient(#ffaf54, #e37900);

  --white-fixed: #fff;
  --color-grey-1: #f5f5f5;
  --color-grey-2: #f0f0f0;
  --color-grey-3: #e0e0e0;
  --color-grey-4: #cccccc;
  --color-grey-5: #b8b8b8;
  --color-grey-6: #a3a3a3;
  --color-grey-7: #8f8f8f;
  --color-grey-8: #7a7a7a;
  --color-grey-9: #666666;
  --color-grey-10: #525252;
  --color-grey-11: #3d3d3d;
  --color-grey-12: #292929;
  --color-grey-13: #141414;
}

.subtitulo {
  font-size: 9rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}
