.header {
  max-width: 75rem;
  margin: 0 auto;
  padding: 2.5rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    li a {
      font-size: 1.125rem;
      line-height: 1.3;
      padding: 0.625rem 1.25rem;
      color: var(--color-grey-13);
      display: block;
      cursor: pointer;
    }
  }

  @media (max-width: 800px) {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    li a {
      background: var(--color-grey-1);
      border-radius: 5px;
    }
  }
}
