.experiencia {
  .subtitulo {
    color: var(--color-grey-3);
  }

  .experiencia-texto {
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 50ch;
    margin-bottom: 3.75rem;
    color: var(--color-grey-10);
    strong {
      color: var(--color-brand-1);
    }
  }

  .projetos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 620px;
    overflow-y: scroll;
    padding-left: 50px;
    .projeto {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 1.25rem;
      background: var(--color-grey-1);
      border-radius: 4px;
      position: relative;
      gap: 10px 20px;

      .projeto-ano {
        position: absolute;
        top: 24px;
        left: -100px;
        text-align: right;
        color: var(--color-grey-12);
        font-weight: 600;
        font-size: 0.875rem;
        width: 80px;
      }

      .projeto-titulo {
        font-size: 1.125rem;
        line-height: 1.1;
        font-weight: bold;
      }

      .projeto-desc {
        font-size: 0.875rem;
        line-height: 1.4;
        color: var(--color-grey-10);
      }

      .projeto-skills {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-content: flex-start;
        width: 90%;
        .skill {
          font-size: 0.875rem;
          line-height: 1.4;
          border-radius: 4px;
          background: var(--white-fixed);
          padding: 0.3125rem 0.625rem;
        }
      }

      .projeto-deploy {
        display: flex;
        gap: 20px;
        .deploy {
          a {
            display: flex;
            gap: 5px;
            font-size: 0.9375rem;
            color: var(--color-grey-12);
          }
          a:hover {
            transition: 0.4s;
            color: var(--color-brand-1);
          }
        }
      }
    }
    .projeto::before {
      content: "";
      display: block;
      height: 20px;
      width: 4px;
      background: var(--color-gradient);
      position: absolute;
      top: 20px;
      left: -3px;
    }
  }
  .projetos::-webkit-scrollbar {
    width: 5px;
  }
  .projetos::-webkit-scrollbar-thumb {
    background: var(--color-brand-1);
    border: 0 2px solid var(--color-grey-1);
  }
  .projetos::-webkit-scrollbar-track {
    background: var(--color-grey-1);
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    gap: 40px;
    .subtitulo {
      color: var(--color-grey-13);
    }
    .experiencia-texto {
      font-size: 1.25rem;
    }
    .projetos {
      .projeto {
        .projeto-ano {
          position: initial;
          order: 1;
          width: initial;
          text-align: left;
        }
      }
    }
  }
  @media (max-width: 400px) {
    .projetos {
      .projeto {
        grid-template-columns: 1fr;
        gap: 20px;
      }
    }
  }
}
